/* #my-pie-chart {
    height: 100px;
    width: 100px;
    border-radius: 50%;
     background: conic-gradient(brown 0.00%, black 0.00% 0.56%, blue 0.56% 5.29%, green 5.29% 13.57%, yellow 13.57% 22.90%, orange 22.90% 40.79%, red 40.79%); 
} */